[submodule "third_party/RenderFramework"]
	path = third_party/RenderFramework
	url = https://github.com/cracknum/OViewerUI.git
[submodule "third_party/OpenGLCore"]
	path = third_party/OpenGLCore
	url = https://github.com/cracknum/OpenGLCore.git
